main {
    background-color: var(--azulEscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.secaoPrincipal {
    height: 78.50vh;
    width: 89.30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}

#tituloFinalizar {
    color: var(--amarelo);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 3.3vh;
}

#secaoSecundaria {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#secaoEsquerda {
    background-color: var(--verdeMusgo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 66vh;
    width: 20.73vw;
    padding: 1vh 3vw;
    border-radius: 5px;
    gap: 2.5vh;
}

#listaProdutos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaImagens {
    display: flex;
    gap: 0.3vw;
    justify-content: space-between;
    align-items: center;
}

#iconMais {
    display: none;
    color: var(--branco);
}

#resumo {
    font-size: 2.5vh;
}

.textosMenores {
    color: var(--branco);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 2.3vh;
}

.imagem {
    height: 7.10vh;
    border-radius: 5px;
}

#divCodigo {
    display: flex;
    justify-content: center;
}

#inputCodigo {
    font-family: "Inder";
    font-weight: 400;
    font-size: 1.75vh;
    background-color: var(--ciano);
    color: var(--branco);
    height: 3.11vh;
    width: 15.13vw;
    padding: 0.5vh 1vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.inputEditar {
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 2.3vh;
    background-color: var(--azulEscuro);
    color: var(--branco);
    height: 5.6vh;
}

#botaoCodigo {
    background-color: var(--verdeEscuro);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 4.23vw;
    font-family: "Inder";
    font-weight: 400;
    font-size: 1.14vh;
    color: var(--branco);
}

.seta {
    height: 3.42vh;
    filter: invert(100%);
    rotate: -90deg;
}

#secaoEsquerdaLista {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.secaoEsquerdaLista_Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--ciano);
    padding: 0.5vh 0px;
}

#divTotal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#secaoDireita {
    padding-bottom: 9vh;
    height: 57.9vh;
    width: 56vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 1vh;
}

.textosMaiores {
    color: var(--branco);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 3.3vh;
}

.divCaixa {
    width: 50vw;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--amarelo);
    border-radius: 5px;
    padding: 1vh 3vw;
}

.subdivCaixa_cima {
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}

.subdivCaixa_baixo {
    display: flex;
    justify-content: space-between;
}

#botaoFinalizar {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 0.75rem;
    background-color: var(--vermelhoAlaranjado);
    border-radius: 15px;
    font-family: "Inknut Antiqua";
    font-weight: 400;
    color: var(--branco);
    font-size: 1.75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secaoEsquerdaLista_Item:hover, #editar:hover, .imagem:hover {
    cursor: pointer;
    filter: brightness(115%);
}

/* Remover as setas de aumento/diminuição em inputs do tipo number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilo para a borda quando o input está selecionado */
input:focus {
    z-index: 9999; /* Defina um valor alto para o z-index */
}