main {
    background-color: var(--azulEscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.secaoPrincipal {
    width: 92.43vw;
    height: 59.96vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 4.16vw;
}

#imagemProduto {
    height: 59.77vh;
    border-radius: 10px;
}

#secaoMeio {
    gap: 2vh;
    width: 27.08vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#tituloProduto {
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 4.5vh;
    color: var(--amarelo);
    line-height: 1;
}

#slogan {
    font-family: "Inder";
    font-weight: 400;
    font-size: 2vh;
    color: var(--amarelo);
}

#botaoSubmit {
    background-color: var(--amarelo);
    border-radius: 100px;
    color: var(--verdeMusgo);
    font-size: 3vh;
    font-family: "Inder";
    font-weight: 400;
    padding: 0.3rem 0px;
}

#secaoDireita {
    background-color: var(--azulMaisEscuro);
    border-bottom: 2px solid var(--preto);
    width: 14.13vw;
    height: 42.07vh;
    padding: 4vh 2vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#divValor {
    display: flex;
    flex-direction: column;
}

#tituloTotal {
    font-family: "Inder";
    font-weight: 400;
    font-size: 3.3vh;
    color: var(--amarelo);
}

#valorTotal {
    font-family: "Inder";
    font-weight: 400;
    font-size: 3vh;
    color: var(--branco);
}

#legenda {
    font-family: "Inder";
    font-weight: 400;
    font-size: 1.5vh;
    color: var(--branco);
}

#entregaPrazo {
    font-family: "Inder";
    font-weight: 400;
    font-size: 2.5vh;
    color: var(--vermelhoAlaranjado);
    text-align: center;
}

#seta {
    height: 3.56vh;
    filter: invert(100%);
}