html {
    scroll-padding-top: 17.3vh;
}

body {
    background-color: var(--azulEscuro);
}

main {
    padding: 1.5vh 3vw;
}

#secao_titulo {
    display: flex;
    align-items: flex-start;
    gap: 2vw;
}

#principal {
    width: 90vw;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#titulo {
    color: var(--amarelo);
    font-family: "Inknut Antiqua";
    font-size: 5vh;
    font-weight: 400;
}

#subtitulo {
    color: var(--branco);
    font-family: "Inder";
    font-size: 3vh;
    font-weight: 400;
    margin-top: -1rem;
}

.produto {
    position: relative;
    margin-left: 2vw;
    display: flex;
    width: 90vw;
    gap: 1.5vw;
}

.imagemProduto {
    height: 25vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 0.5vh;
}

.nomeProduto {
    font-size: 3.5vh;
    font-family: "Inknut Antiqua";
    color: var(--amarelo);
    cursor: pointer;
    white-space: nowrap; /* Evita quebra de linha */
    line-height: 1;
}

.precoProduto {
    font-size: 2.5vh;
    font-family: "Inder";
    font-weight: 400;
    color: var(--branco);
    margin: -10px 0px 2rem 0px;
}

.subdiv_produto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 25vh;
}

.titulo_produto {
    display: flex;
    justify-content: space-between;
    width: 77vw;
}

.carrinho {
    height: 9vh;
}

.coracao {
    height: 6.5vh;
    margin-top: 0.5vh;
    filter: saturate(0%);
}

.emEstoque {
    color: var(--vermelhoAlaranjado);
    font-size: 3vh;
    font-family: "Inder";
    margin: 1.3vh 0px 3vh 0px;
}

.semEstoque {
    color: var(--verdeMusgo);
    font-size: 1.25rem;
    font-family: "Inder";
    margin: 1.3vh 0px 3vh 0px;
}

.subdiv_produto_imagens {
    display: flex;
    align-items: center;
    gap: 2vw;
    height: fit-content;
}

.carrinho:hover {
    cursor: pointer;
    filter: invert(57%) sepia(74%) saturate(498%) hue-rotate(5deg) brightness(153%) contrast(84%);
}

.coracao:hover {
    cursor: pointer;
    filter: invert(57%) sepia(74%) saturate(498%) hue-rotate(5deg) brightness(153%) contrast(84%);
}