body {
    background-color: var(--azulEscuro);
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--azulEscuro);
    width: 100vw;
}

#titulo {
    font-family: "Inknut Antiqua";
    font-size: 40px;
    font-weight: 400;
    padding: 3.2vh 0px 0px 8.9vw;
    color: var(--amarelo);
    position: relative;
    z-index: 1;
}

#secao_centro {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#imagem_centro {
    height: 30vh;
}

#textinho_centro {
    font-family: "Inknut Antiqua";
    font-size: 28px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
}

/* Essa linha é a que está embaixo do título "Seus registros" */
#linha_horizontal_divisora {
    width: calc(91.1vw - 30px);
    border: 2.5px solid var(--vermelhoAlaranjado);
    position: relative;
    z-index: 1;
    margin-left: 8.9vw;
}

/* Disponibilidade de cupons */

#secao_disponibilidade {
    background-color: var(--azulMaisEscuro);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 1.25rem;
    width: 82.8vw;
    margin: 0px auto;
}

.disponibilidade_cupons {
    font-family: "Inknut Antiqua";
    font-size: 28px;
    font-weight: 400;
    color: var(--amarelo);
    position: relative;
    text-decoration: none;
}

.disponibilidade_cupons::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--vermelhoAlaranjado);
    bottom: 8px;
    left: 0px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.disponibilidade_cupons:hover::after {
    transform: scaleX(1);
}

#sublinhadoDisponivel, #sublinhadoIndisponivel {
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--vermelhoAlaranjado);
    bottom: 8px;
    left: 0px;
}

#sublinhadoIndisponivel {
    display: none;
}