* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    background-color: var(--azulEscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#secaoeditarUsuario {
    z-index: 5;
    background-color: var(--verdeOpaco);
    height: 50vh;
    width: 28vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4vh;
    border-radius: 1.5vh;
    border-bottom: 0.5vh solid var(--preto);
}

#divEditar {
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tituloEditar {
    color: var(--amarelo);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 3.125vh;
}

#fechar {
    height: 5.5vh;
}

#fechar:hover {
    cursor: pointer;
    filter: brightness(120%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 44vh;
}

.entradas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vh;
    width: 24vw;
    height: 12vh;
}

label {
    color: var(--branco);
    font-family: "Inder";
    font-weight: 400;
    font-size: 2.5vh;
}

.entradas > input {
    background-color: var(--verdeMusgo);
    color: var(--branco);
    padding: 1vh 1vw;
    width: 22vw;
    font-size: 2.75vh;
    height: 3.7vh;
    border-bottom: 0.3 solid var(--preto);
    border-radius: 1vh;
}

#botaoEditar {
    background-color: var(--vermelhoAlaranjado);
    border-radius: 1.5vh;
    font-family: "Inder";
    font-weight: 400;
    font-size: 2.75vh;
    color: var(--branco);
    align-self: center;
    padding: 1.5vh 1vw;
}

.secaoPrincipal {
    width: 83.08vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#divTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    top: 19vh;
    margin-left: -4vw;
}

#tituloBemVindo {
    color: var(--amarelo);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 3.125vh;
    height: 100%;
}

.secoesSecundarias {
    width: 80%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 30.35vw);
    grid-template-rows: repeat(4, 11.99vh) 5vh;
    column-gap: 5.9vw;
    row-gap: 3.22vh;
    grid-template-areas:
        "produtos creditos"
        "cupons creditos"
        "enderecos desejo"
        "cartao desejo"
        "sair editar";
}

.topicosEsquerda {
    display: flex;
    align-items: center;
    background-color: var(--verdeMusgo);
    height: 100%;
    width: 100%;
    padding-left: 2.64vw;
    gap: 1.73vw;
    border-radius: 5px;
}

.topicosEsquerda_Texto {
    color: var(--amarelo);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 3.125vh;
}

.topicoDireita {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--verdeMusgo);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.topicoDireitaBaixo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verdeMusgo);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#subtopicoDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.topicoDireita_Titulo {
    color: var(--branco);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 3.125vh;
}

.topicoDireita_Subtitulo {
    color: var(--verdeEscuro);
    font-family: "Inder";
    font-weight: 400;
    font-size: 2.125vh;
}

.topicoDireita_Pontos {
    color: var(--vermelhoAlaranjado);
    font-family: "Inknut Antiqua";
    font-weight: 400;
    font-size: 4.125vh;
}

/* Não tem nenhum produto na lista de favoritos */

#listaVazia {
    color: var(--branco);
    font-family: "Inder";
    font-weight: 400;
    font-size: 2.743vh;
    display: none;
}

/* Lista de produtos presentes nos favoritos */

#produtosFavoritos {
    display: grid;
    align-items: center;
    grid-template-rows: 13vh;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
    grid-template-areas: "seta_produto_esquerda produto1 produto2 produto3 seta_produto_direita";
    column-gap: 0.9vw;
}

#produto_um {
    display: flex;
    height: 13vh;
    grid-area: produto1;
}

#produto_dois {
    display: flex;
    height: 13vh;
    grid-area: produto2;
}

#produto_tres {
    display: flex;
    height: 13vh;
    grid-area: produto3;
}

#seta_produto_direita {
    display: flex;
    justify-self: center;
    height: 6vh;
    grid-area: seta_produto_direita;
    rotate: -90deg;
    filter: invert(100%);
}

#seta_produto_esquerda {
    display: flex;
    justify-self: center;
    height: 6vh;
    grid-area: seta_produto_esquerda;
    rotate: 90deg;
    filter: invert(100%);
}

#produto_um:hover, #produto_dois:hover, #produto_tres:hover {
    cursor: pointer;
    filter: brightness(115%);
}

#seta_produto_direita:hover, #seta_produto_esquerda:hover {
    cursor: pointer;
    filter: invert(57%) sepia(74%) saturate(498%) hue-rotate(5deg) brightness(113%) contrast(84%);
}

.imagens {
    height: 7.34vh;
}

#sair {
    color: var(--branco);
    font-family: "Inder";
    font-weight: 400;
    font-size: 3.125vh;
    width: 2.3vw;
}

#excluir {
    color: var(--branco);
    font-family: "Inder";
    font-weight: 400;
    font-size: 3.125vh;
    width: 8.5vw;
}

#divSair {
    display: flex;
    align-items: center;
    gap: 3vw;
    grid-area: sair;
}

#editar_usuario {
    grid-area: editar;
    color: var(--branco);
    font-family: "Inder";
    font-weight: 400;
    font-size: 3.125vh;
    width: 9vw;
}

#catalogoProdutos {
    grid-area: produtos;
    background-color: var(--amarelo);
}

#catalogoProdutos > .topicosEsquerda_Texto {
    color: var(--verdeMusgo);
}

#caixa {
    filter: brightness(0) saturate(100%) invert(15%) sepia(12%) saturate(5937%) hue-rotate(156deg) brightness(95%) contrast(92%);
}

#cupons {
    grid-area: cupons;
}

#enderecos {
    grid-area: enderecos;
}

#cartoes {
    grid-area: cartao;
}

#creditos {
    grid-area: creditos;
}

#desejo {
    grid-area: desejo;
}

#sair:hover {
    border-bottom: 0.5vh solid var(--vermelhoAlaranjado);
    cursor: pointer;
}

#excluir:hover {
    border-bottom: 0.5vh solid var(--vermelhoAlaranjado);
    cursor: pointer;
}

#editar_usuario:hover {
    border-bottom: 0.5vh solid var(--ciano);
    cursor: pointer;
}

.topicosEsquerda:hover,
.subtopicoDireita:hover {
    cursor: pointer;
    filter: brightness(115%);
}